<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Intellitour{% endblock %}</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@5.0.0-beta.1/daisyui.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="bg-gray-100 text-gray-800">
    <section class="bg-white">
        <div class="navbar bg-base-100 shadow-sm">
            <div class="flex-1">
                <a class="btn btn-ghost text-xl" href="/">Intellitour</a>
            </div>
            <div class="flex-none">
                <ul class="menu menu-horizontal px-1">
                    <li><a href="/" class="px-4">Sign In</a></li>
                    <li><a href="/main" class="px-4">Main Search</a></li>
                    <li><a href="/ai-trip" class="px-4">AI Trip</a></li>
                </ul>
            </div>
        </div>
    </section>
    <main class="container mx-auto p-4">
        {% block content %}{% endblock %}
    </main>
</body>

</html>