{% extends "base.html" %}

{% block title %}DESTINATION{% endblock %}

{% block content %}
<h4 class="text-center font-weight-bold mb-2 text-primary">BROWSE DESTINATIONS</h4>
<hr>
<div class="my-4">
    <!-- Carousel -->
    <div id="buttonCarousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            {% set repeated_labels = categories * 4 %} <!-- Repeat categories 4 times -->
            {% for i in range(0, repeated_labels|length, 3) %} <!-- Display 3 buttons per slide on mobile -->
            <div class="carousel-item {% if i == 0 %}active{% endif %}">
                <div class="d-flex flex-wrap justify-content-center">
                    {% for label in repeated_labels[i:i+3] %}
                    <a class="btn btn-outline-secondary m-1 d-inline-block"
                        style="min-width: 80px; max-width: 120px; font-size: 14px;" href="#">{{ label.replace('_', '
                        ').title() }}</a>
                    {% endfor %}
                </div>
            </div>
            {% endfor %}
        </div>
        <!-- Controls -->
        <a class="carousel-control-prev bg-primary" href="#buttonCarousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next bg-primary" href="#buttonCarousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>
<form class="" action="{{ url_for('main_search') }}" method="post">
    <input type="text" class="form-control form-control-sm" id="destinations"
        placeholder="Search for destination or category here ...">
</form>
<div class="table-responsive">
    <table class="table table-bordered my-2">
        <thead>
            <tr>
                <th class="d-none">ID</th>
                <th>Category</th>
                <th>Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for attraction in attractions %}
            <tr>
                <td class="d-none">{{ attraction.attraction_id}}</td>
                <td><a class="text-center" href="">{{ attraction.properties.category.capitalize()}}</a></td>
                <td>{{ attraction.properties.name}}</td>
                <td><a href="attraction/{{ attraction.attraction_id}}" class="btn btn-sm btn-block btn-primary font-weight-bold"><i class="far fa-eye"></i></a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}